<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DashBoard</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <link href="http://localhost:3000/mainstyle.css" type="text/css" rel="stylesheet">
        <script src="script/script.js" defer></script>
    </head>
    <script>
        const myIp = "localhost";

        $(document).ready(function(){
            $.ajax({
                url: `http://${myIp}:3000/board`,
                method: "GET",
                dataType: "json"
            })
            .done(function(json) {
                json.forEach(element => {

                    console.log(element);
                    $("#tableBody").append(`<tr>
                                                    <td>${element.id}</td>
                                                    <td>${element.writer}</td>
                                                    <td>${element.title}</td>
                                                    <td>${element.created_time}</td>
                                            </tr>`)
                });
            });


        });

    </script>
    <body>
        <header>
            <div class="container">
                <h1><a href="main.html">DashBoard</a></h1>
            </div>
            <div class="write">
                <button class="button" onclick="location.href='write.html'">글 작성</button>
            </div>
        </header>
        <table>
            <thead>
            <tr>
                <th>Number</th>
                <th>Writer</th>
                <th>Title</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody id="tableBody" class="table_body">
                <!-- <tr>
                    <td>1</td>
                    <td>sara</td>
                    <td>자바스트립 공부하기</td>
                    <td>2022/08/01</td>
                </tr> -->
            </tbody>
        </table>
        <footer>
            <div>
                <p>Copyright &copy; all rights reserved</p>
            </div>
        </footer>
    </body>
</html>
